.App {
  display: flex;
  width: 100vw;
  min-width: 100vw; 
  height: 100vh;
  max-height: 100vh;
  background-color: #2F4050;
  overflow-x: hidden;
  overflow-y:hidden;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100vh;
  width: 15vw;
  background-color: #2F4050;
  flex-shrink: 0;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  color: white;
  text-align:center;
}

.SidebarList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  height: 50px;
  width: auto;
  border: 1px solid black;
  color: white;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  align-content: center;
  text-align:left;
  padding-left: 10%;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: #293846;
}

.SidebarList  #active{
  background-color: #293846;
}

.Content {
  flex: 1; /* Takes all available space between sidebars */
  background-color: #383333;
  padding: 2rem;
  min-width: 0; /* Allows flex children to shrink */
  max-height: 100vh;
  max-width: 70vw;
  display: flex;
}

.DataContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ChartContainer {
  box-sizing: border-box;
  background-color: #dbd3d3;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 95%;
  height: 40vh;
  max-height: 90%;
}

.TableContainer {
  box-sizing: border-box;
  background-color: #dbd3d3;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 95%;
  max-height: 50vh;
  overflow-y: auto;
  margin-top: 2rem;
}

.DataTable {
  width: 100%;
  font-size: large;
}

.DataTable th {
  position: sticky;
  font-weight: bold;
  top: 0;
  background-color: #a9a9a9;
}

.DataTable td {
  border-bottom: 1px solid #c7a7a7;
}

.DataTable tr:hover {
  background-color: #e3b3b3;
}

.select {
  background-color: #dbd3d3;
  border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.UserBar {
  height: 100vh;
  width: 15vw;
  background-color: #2F4050;
  flex-shrink: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  color: white;
  text-align:center;
  display: flex;
  flex-direction: column;
}

.UserBar button{
  font-size: 1rem;
  padding: 8px 12px;
  margin-right: 10px;
  margin-top: 0.5rem;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.UserBar button:hover {
  background-color: #354a6c;
}

.CheapestCardContainer {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 35%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
  max-height: 100vh;
}

.CheapestListingCard {
  background-color: #8ea0b1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
  max-width: 90%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.CheapestListingCard img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.CheapestListingCard h2 {
  font-weight: 700;
  margin: 0;
  font-size: 1.5rem;
}

.CheapestListingCard p {
  font-weight: 500;
  margin: 0;
  font-size: 0.9rem;
  color: #ffffff;
}

.CheapestListingCard a {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem;
  background-color: #475a7f;
  color: #e6e6e6;
  text-decoration: none;
  border-radius: 8px;
}

.CheapestListingCard a:hover {
  background-color: #354a6c;
}

.AlertCardContainer {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.AlertCard {
  border: 1px solid black;
  border-radius: 10px;
  padding:0.5rem;
  margin: 0.5rem;
  background-color: #a9a9a9;
}

.AlertCard p{
  font-size: x-large;
  margin: 0.5rem;
}

.AddAlertCard {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.AddAlertCard input {
  margin: 0 5px;   
  flex: 1;       
  min-width: 0;  
}

.UserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}